<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sobre - Tradutor de Libras</title>
    <link rel="stylesheet" href="static/css/stylesFred.css">
</head>

<body>
    <header class="topbar">
        <div class="brand">📘 Tradutor de Libras</div>
        <nav class="topnav">
            <a href="/">Menu</a>
            <a href="/traduzir">Traduzir</a>
            <a href="/configuracoes">Configurações</a>
            <a href="/ajuda">Ajuda</a>
            <a href="/sobre" class="active">Sobre</a>
        </nav>
    </header>


    <main class="container small">
        <h2>Sobre o Projeto</h2>
        <p>Projeto de conclusão de disciplina - Tradutor de Libras em vídeo.</p>
        <p>Integrantes:</p>
        <ul>
            <li>Brenner.</li>
            <li>Danilo.</li>
            <li>Fredson Renato.</li>
            <li>Jean gustavo.</li>
            <li>Igor.</li>
            <br></br>
            <div style="text-align: center;">
                <h2>Stack Tecnológico</h2>
            </div>
            <div style="text-align: justify;" ,>
                <blockquote>

                    A escolha das tecnologias foi estratégica, visando leveza, escalabilidade e performance no
                    processamento em tempo real.

                    Backend Core: O micro-framework Python Flask serve como espinha dorsal da aplicação, garantindo uma
                    estrutura ágil e de baixo overhead.

                    Interface Dinâmica: O Frontend é construído em HTML5, CSS e JavaScript, proporcionando uma
                    experiência de usuário fluida e responsiva.

                    Inteligência Visual: A detecção de mãos é potencializada pela MediaPipe Hands (via CDN), uma
                    tecnologia de ponta para análise de esqueleto de mão.
                </blockquote>
            </div>


        </ul>
    </main>


    <script src="app.js"></script>
</body>

</html>